main,
h1,
h2,
ol {
    text-align: center
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h4 {
    color: yellow;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 30px;
    margin: auto;
}


nav>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li {
    list-style-position: inside
}

img {
    width: 300px;
    height: 300px;
}
